* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


/** HOME*/


nav {
    background-color: white;
    height: auto;

    margin: -1%;
    margin-left: 0;
    position: fixed;

    width: 100vw;
    border: 4px;
    border-bottom: 2px solid rgb(53, 49, 49);
}

body {
    background-color: white;
    overflow-x: hidden;

}

.logo {
    height: 6em;
    padding-left: 36em;
    padding-top: 1.8em;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    padding-top: -2em;
    font-size: 20px;
    justify-content: center;



}

a {
    text-decoration: none;
    color: black;
    padding-right: 5em;

}



.imagend2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.imagenx2 {

    margin-top: 15em;
    width: 30em;
    height: 30em;
    object-fit: cover;



}

.imagenx1 {
    margin-top: 5em;
    margin-left: 8em;
    object-fit: cover;
    height: 25em;
    width: 81%;


}

.imagend3 {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.imagenx3 {
    width: 17.2em;
    height: 17.2em;
    object-fit: cover;
}


.textohome {

    margin-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
    text-align: center;
}







footer {

    background-color: white;
    height: 12em;
    width: 100%;
    margin: -1%;
    margin-left: 0;
    margin-top: 15em;
    margin-bottom: 0%;
    border-top: 2px solid rgb(53, 49, 49);
}

.logofooter {
    width: 220px;
    height: 130px;
    padding-left: 13em;
    padding-top: 1em;
}

.mapafooter {
    width: 20em;
    height: 9em;
    padding-top: 1.5em;
    padding-left: 2em;

}



.iconosredes {
    width: 2em;
    margin-top: 1.5em;
    margin-left: 0;
    flex-direction: row;
    padding-left: 16em;
    padding-top: 1em;

}

.iconosredes2 {
    width: 2em;
    margin-top: 1.5em;
    margin-left: 0;
    flex-direction: row;
    padding-left: -8em;
    padding-top: 1em;

}


.footerdetails {
    display: flex;
    flex-direction: row;

}

.aredes {
    padding-right: 1em;
    padding-top: 1.7em;
    padding-left: 4em;

}

/** FASHION*/

.logofashion {
    height: 6em;
    padding-left: 36em;
    padding-top: 1.8em;
}


.fashionsection {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11em;


}


.imagenesfashion {

    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 25px;

}

.imagenesfashionbig {

    width: 850px;
    height: 350px;
    object-fit: cover;
    padding: 25px;

}

.numerospaginas {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30em;
    padding-top: 8em;
    margin-bottom: -7em;

}

.numbers {
    padding: 2em;
    font-size: 20px;
    font-weight: bold;


}










/** ABOUT US*/
.imagenaboutus {
    width: 55em;
    margin-top: 15%;
    padding-left: 14em;
    padding-bottom: 3em;


}



.sectionaboutus {
    display: flex;
    flex-direction: column;



}

.divtextaboutus {
    margin-left: 13em;
    margin-right: 15em;

}

.h1biography {
    margin-bottom: 2em;


}



.divtextaboutus2 {
    margin-left: 13em;
    margin-right: 15em;

}

.h1biography2 {
    margin-bottom: 2em;
    margin-top: 4em;
}



/**work with us*/

.workwithussection {
    align-items: center;


}

.imagenworkwithus {

    width: 75%;
    height: 15em;
    margin-top: 15%;
    margin-left: 12em;
    object-fit: cover;

}

.divtextworkwithus {
    margin-top: 3em;
    margin-left: 12em;

}

.inputxl {
    height: 10em;
}

input {
    width: 30em;
    height: 2em;
    border: solid black 2px;

}

.contenedor-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;



}

.flexdrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.formulariosection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    gap: 20px;
    border-style: none;


}

.boton-form {
    width: 15em;
    height: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(141, 136, 136);

}

.boton-div {
    display: flex;
    justify-content: center;
    margin-top: 5em;


}

.celdasformulario {
    width: 35%;
    padding: 17px;

}

.celdasformulariobig {
    width: 35%;
    padding: 35px;
    padding-left: 30px;
    padding-right: 9px;

}


/**PHOTOS */

.photossection {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.photossection1 {
    width: 100%;
    height: 30em;
    margin-top: 12em;
    margin-bottom: 3em;
    object-fit: cover;

}

.asection {
    padding-right: 0px;

}


@media(max-width:1024px) {
    .navclass {
        width: 100%;

    }

    .aredes {

        padding-right: -4em;
        padding-left: 1em;

    }

    .iconosredes {
        width: 2em;
        flex-direction: row;
        padding-left: 8em;

    }

    .logofooter {

        width: 210px;
        height: 120px;
        padding-left: 9em;
        padding-top: 2em;
    }

    .mapafooter {
        width: 16em;
        height: 8em;
    }

    .logo {
        padding-left: 28em;
    }

    .botones-nav {
        padding-left: 2em;
    }

    .imagenx2 {

        width: 23em;
        height: 23em;

    }

    .imagenx1 {

        height: 18em;
        width: 81%;
        margin-left: 6em;
    }

    .imagenx3 {
        width: 13.2em;
        height: 13.2em;

    }

}

@media(max-width:768px) {

    .botones-nav {
        width: 100%;

    }

    .textonav {
        font-size: 70%;
    }

    .logo {
        padding-left: 20em;
    }

    .imagenx2 {

        width: 18em;
        height: 18em;
        padding-left: 1em;

    }

    .imagend2 {
        padding-left: 1em;
        padding-right: 1.5em;
    }

    .imagenx1 {

        height: 15em;
        width: 82%;
        margin-left: 4.5em;
    }

    .imagenx3 {
        width: 10.2em;
        height: 10.2em;
        padding-left: 0.5em;

    }

    .imagend3 {
        padding-left: 0.5em;
    }

    .textohome {

        padding-left: 4em;
        padding-right: 3em;

    }

    .aredes {

        padding-right: -3em;
        

    }

    .iconosredes {
        width: 2em;
        flex-direction: row;
        padding-left: 4em;

    }

    .logofooter {

        width: 170px;
        height: 90px;
        padding-left: 5em;
        padding-top: 1.8em;
    }

    .mapafooter {
        width: 14em;
        height: 7em;
    }


    /*Photos
    */

    .photossection1 {
        width: 80%;
        height: 30em;
        margin-top: 15em;
        margin-right: -2em;
        
    
    }

    .photossection{
        margin-right: -9em;
        padding-top: 3em;
    }

    
    
    
}

@media(max-width:425px) {
    .imagend2 {

        flex-direction: column;
        padding-bottom: 0em;
        margin-bottom: -2em;
        padding-top: 24em;

    }

    .imagenx2 {

        width: 31.5em;
        height: 20em;
        padding-bottom: 0em;
        margin-top: 3em;

    }

    .imagengirl1 {
        margin-bottom: 0em;
        margin-top: 15em;
    }

    .imagengirl2 {
        margin-top: -15em;
        padding-top: -15em;
    }

    .mapafooter {
        width: 10em;
        height: 5em;
    }

    .logofooter {

        width: 150px;
        height: 75px;
        padding-left: 3em;

    }

    .iconosredes {
        width: 1.8em;
        flex-direction: row;
        padding-left: 2em;

    }

    .iconosredes2 {
        width: 1.8em;
        flex-direction: row;
        padding-left: -1em;
        padding-right: 0em;

    }

    footer {
        width: 100vh;
        margin-right: -18em;


    }

    .textohome {

        padding-left: 2em;
        padding-right: 1em;
        margin-right: -7em;

    }

    .imagenx1 {

        width: 31.5em;
        height: 20em;
        margin-left: 2em;
    }

    .imagend3 {

        flex-direction: column;
        padding-top: 0em;
        margin-top: 0em;
        margin-left: 1em;


    }

    .imagenx3 {
        width: 31.5em;
        height: 20em;
        padding-top: 3em;
    }

    .textonav {
        
        font-size: 18px;
        padding-top: 2em;
        margin-right: -3em;
        padding-right: 0em;

    }

    .botones-nav {
        margin-left: -2em;
        margin-right: 2em;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding-left: 12em;
        margin-bottom: -2em;
    }

    nav {
        height: auto;

    }

    /*
    */

    .photossection1 {
        width: 80%;
        height: 20em;
        margin-right: 0em;
        padding-left: 0em;
      
        
    
    }


}

@media(max-width:375px) {

    .botones-nav {
        margin-left: -1em;

        flex-direction: column;
        align-items: center;
    }

    nav {
        height: auto;

    }

    .textonav {
        font-size: 18px;
        padding-top: 2em;
        margin-right: -2em;
        padding-right: 0em;

    }

    .logo {
        padding-left: 12em;
        padding-bottom: -1em;
        margin-bottom: -2.5em;
    }

    .imagend2 {

        padding-top: 26em;

    }
}

@media(max-width:320px) {

    .textohome {

margin-left: 4em;
        padding-left: 0em;
        padding-right: 0em;
        margin-right: -9em;

    }

}

/*

@media(max-width:768px) {
    .navclass {
        padding-right: 3em;

    }

    .logo {
        padding-left: 30em;
    }

    .botones-nav {

        padding-right: 2em;
    }

    .imagend2 {

        padding-right: 7em;
    }

    .imagend1 {


        padding-right: 8em;
    }

    .imagenx1 {

        margin-left: 5em;
        height: 21em;
        width: 87%;

    }

    .imagend3 {

        padding-right: 7em;
    }

    .imagenx2 {
        width: 28em;
        height: 28em;
    }

    .textohome {

        padding-right: 12em;

    }

}