
@import "./utilities/variables";
@import "./utilities/mixins";
@import "./base/reset";
@import "./layout/body";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";
@import "./layout/mediaquery/media-1440";
@import "./layout/mediaquery/media-1024";
@import "./layout/mediaquery/media-768";




	
//No tocar lo de arriba
	


@media (max-width:425px) {
	.imagend2 {
		flex-direction: column;
		padding-bottom: 0em;
		margin-bottom: -2em;
		padding-top: 17em;
	}
	.imagenx2 {
		width: 23em;
		height: 15em;
		padding-bottom: 0em;
		margin-top: 3em;
	}
	.imagengirl1 {
		margin-bottom: 0em;
		margin-top: 15em;
	}
	.imagengirl2 {
		margin-top: -15em;
		padding-top: -15em;
	}
	.footerdetails {
		@include flexx (column, none, none, center, none);
	}
	.mapafooter {
		width: 10em;
		height: 5em;
	}
	.logofooter {
		width: 150px;
		height: 75px;
		padding-left: 1em;
		margin-bottom: -4em;
	}
	.aredes {
		padding-left: 0em;
		padding-right: 0em;
	}
	.iconosredes {
		width: 1.8em;
		padding-left: 1em;
		padding-bottom: -1em;
		margin-bottom: -2em;
	}
	.iconosredes2 {
		width: 1.8em;
		padding-left: 1em;
		padding-top: 0em;
		padding-bottom: -1em;
		margin-bottom: -2em;
	}
	footer {
		width: auto;
	}
	.textohome {
		font-size: 12px;
		padding-left: 2em;
		padding-right: 1em;
	}
	.imagenx1 {
		width: 23em;
		height: 15em;
		margin-left: 2em;
	}
	.imagend3 {
		flex-direction: column;
		padding-top: 0em;
		margin-top: 0em;
		margin-left: 1em;
	}
	.imagenx3 {
		width: 23em;
		height: 15em;
		padding-top: 3em;
	}
	.textonav {
		font-size: 12px;
		padding-top: 2em;
		padding-left: 1em;
		margin-right: -3em;
		padding-right: 0em;
	}
	.botones-nav {
		margin-left: -2em;
		margin-right: 1.5em;
		flex-direction: column;
		align-items: center;
	}
	.logo {
		padding-left: 9em;
		margin-bottom: -2em;
		padding-top: 0.5em;
	}
	nav {
		height: auto;
	}
	.photossection1 {
		width: 90%;
		height: 15em;
		margin-right: 0em;
		padding-left: 0em;
	}
	.imagenworkwithus {
		width: 70%;
		height: 9em;
		margin-top: 19em;
		margin-left: 4.5em;
	}
	.divtextworkwithus {
		margin-top: 3.5em;
		margin-left: 6.5em;
		font-size: 10px;
	}
	.flexdrow {
		@include flexx (column, none, none, none, none);
	}
	.inputxl {
		height: 4em;
	}
	input {
		width: 15em;
		height: 2em;
	}
	.boton-form {
		width: 12em;
		height: 4em;
	}
	.imagenaboutus {
		width: 20em;
		margin-top: 68%;
		padding-left: 4em;
	}
	.divtextaboutus {
		margin-left: 5em;
		margin-right: 4em;
		font-size: 13px;
	}
	.divtextaboutus2 {
		margin-left: 5em;
		margin-right: 4em;
		font-size: 13px;
	}
	.fashionsection {
		margin-left: 3em;
		padding-top: 16em;
		padding-left: 1.5em;
		padding-right: 0em;
	}
	.imagenesfashion {
		width: 250px;
		height: 250px;
		padding: 25px;
	}
	.imagenesfashionbig {
		width: 250px;
		height: 250px;
		padding: 25px;
		padding-right: 24%;
	}
	.numerospaginas {
		padding-left: 5.5em;
		padding-top: 5em;
		margin-bottom: -7em;
	}
	.numbers {
		padding: 1em;
		font-size: 12px;
		font-weight: bold;
	}
}
@media (max-width:375px) {
	.botones-nav {
		margin-left: -1em;
		flex-direction: column;
		align-items: center;
	}
	nav {
		height: auto;
		width: auto;
		height: auto;
	}
	.textonav {
		font-size: 12px;
		padding-top: 2em;
		padding-left: 1em;
		margin-right: -3em;
		padding-right: 2em;
	}
	.imagend2 {
		flex-direction: column;
		padding-bottom: 0em;
		margin-bottom: -2em;
		padding-top: 17em;
	}
	.imagenx2 {
		width: 20em;
		height: 15em;
		padding-bottom: 0em;
		margin-top: 3em;
	}
	.imagenx1 {
		width: 20em;
		height: 15em;
		margin-left: 2em;
	}
	.imagend3 {
		flex-direction: column;
		padding-top: 0em;
		margin-top: 0em;
		margin-left: 1em;
	}
	.imagenx3 {
		width: 20em;
		height: 15em;
		padding-top: 3em;
	}
	.logo {
		padding-left: 8em;
		padding-bottom: -1em;
		margin-bottom: -2.5em;
	}
	.photossection1 {
		width: 90%;
		height: 12em;
	}
	.asection {
		margin-bottom: -8em;
		margin-right: 1em;
	}
	.divtextworkwithus {
		font-size: 9px;
	}
	.imagenaboutus {
		width: 19em;
		margin-top: 76%;
		padding-left: 2.5em;
	}
	.numbers {
		padding: 0.5em;
		font-size: 9px;
		font-weight: bold;
	}
	.imagenesfashion {
		width: 200px;
		height: 200px;
		padding: 25px;
	}
	.imagenesfashionbig {
		width: 200px;
		height: 200px;
		padding: 25px;
		padding-right: 24%;
	}
	.numerospaginas {
		padding-left: 5em;
		padding-top: 4.5em;
		margin-bottom: -7em;
	}
}
@media (max-width:320px) {
	nav {
		height: auto;
		padding-right: 0em;
	}
	.logo {
		padding-left: 5em;
	}
	.textonav {
		font-size: 10px;
		padding-right: 7em;
	}
	.imagenx1 {
		width: 16em;
		height: 11em;
	}
	.imagenx2 {
		width: 16em;
		height: 11em;
	}
	.imagenx3 {
		width: 16em;
		height: 11em;
	}
	.textohome {
		font-size: 10px;
		margin-left: 4em;
		padding-left: 0em;
		padding-right: 5em;
	}
	footer {
		height: auto;
	}
	.photossection1 {
		width: 90%;
		height: 10em;
	}
	.asection {
		margin-bottom: -12em;
		margin-right: 2em;
		padding-bottom: -2em;
	}
	.divtextworkwithus {
		font-size: 8px;
	}
	.imagenworkwithus {
		width: 70%;
		height: 7em;
		margin-top: 15em;
		margin-left: 3em;
	}
	.imagenaboutus {
		width: 17em;
		margin-top: 78%;
		padding-left: 1.5em;
	}
	.divtextaboutus {
		margin-left: 4em;
		margin-right: 3em;
	}
	.divtextaboutus2 {
		margin-left: 4em;
		margin-right: 3em;
	}
	.numbers {
		padding: -4em;
		font-size: 7px;
		font-weight: bold;
	}
	.imagenesfashion {
		width: 200px;
		height: 200px;
		padding: 10px;
	}
	.imagenesfashionbig {
		width: 200px;
		height: 200px;
		padding: 10px;
		padding-right: 19%;
	}
	.numerospaginas {
		padding-left: 5em;
		padding-top: 4.5em;
		margin-bottom: -7em;
	}
	.fashionsection {
		padding-left: -1em;
		padding-right: 1em;
	}
}