@media (max-width:1440px) {
    footer {
        .footerdetails {
            .logofooter {
                padding-left: 15em;
            }
            .aredes {
                .iconosredes {
                    padding-left: 9em;
                    padding-top: 1em;
                }
                .iconosredes2 {
                    padding-left: -8em;
                    padding-top: 1em;
                }
            }
        }
    }
}